---
import Layout from "../layouts/Layout.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog sobre los Dinosaurios y su Extinción</title>
  </head>
  <Layout title="Dinosarurios">
    <div class="flex flex-col justify-center items-center py-10">
      <article id="fact" class="flex flex-col text-center text-gray-200">
      </article>
      <button
        hx-get="/api/dinosaurs"
        hx-target="#fact"
        hx-swap="innerHTML"
        class="w-auto bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      >
        Mostrar Dato
      </button>
    </div>
  </Layout>
  <div class="grid place-content-center gap-8">
    <div
      id="circle"
      class="effect bg-emerald-700 rounded-full aspect-square max-w-64 text-center text-white"
    >
    </div>

    <button class="bg-slate-300 rounded-md p-4 active:bg-slate-400">
      Aplicar efecto
    </button>
  </div>

  <style></style>


</html>
