---
import Layout from "../layouts/Layout.astro";
import Buscador from "../components/Buscador.astro";
import Player from "../components/Player.astro";
import ListOfSongs from "../components/ListOfSongs.astro";

---

<Layout title="Encuentra tu canción preferida">
	<main class="flex flex-col gap-4 ">
		
		<h1 class="text-balance m-10">
			Buscá tu canción favorita
		</h1>

		<Buscador />
		<ListOfSongs />
		
	</main>
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		text-align: center;
	}
</style>
