---
import MediaButtons from "./MediaButtons.jsx";
import Next from "../icons/Next.astro";
import Previous from "../icons/Previous.astro";
import PlayerInfo from "./PlayerInfo.jsx";
import VolumeControl from "./VolumeControl";
---

<div
  class="fixed bottom-0 w-full h-20 bg-zinc-900/30 backdrop-blur-lg z-30
            flex items-center content-center px-4 bg-opacity-50"
>
  <PlayerInfo client:load />

  <div class="flex flex-row gap-4">
    <Next className="w-4" />
    <MediaButtons client:load />
    <Previous className="w-4" />
  </div>

    <VolumeControl client:load />

</div>

<script></script>
